<AuthorizeView>
    <Authorized>
        <MudLink Class="mud-theme-primary" Href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</MudLink>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="ml-8 mud-typography mud-link mud-primary-text mud-link-underline-hover mud-typography-body1 mud-theme-primary">Log out</button>
        </form>
    </Authorized>
</AuthorizeView>
